body {
  margin: 0;
  background-color: #03071e; }

.head {
  background-color: #03071e;
  position: relative;
  padding-bottom: 50px;
  overflow: visible;
  border: 0px solid;
  border-color: black black grey black;
  perspective: 1000px; }
  .head .head-text {
    color: #F8F1FF;
    padding-left: 60px;
    max-width: 50%;
    padding-top: 100px; }
    .head .head-text .name, .head .head-text h2 {
      padding: 5px 0px;
      margin: 0; }
    .head .head-text .name {
      font-size: 45px;
      padding-bottom: 10px;
      word-spacing: 7px; }
    .head .head-text .first-letter {
      font-size: 50px;
      color: #EDF060; }
  .head .contact-list {
    color: #F8F1FF;
    position: absolute;
    top: 2%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    flex-flow: column;
    list-style-type: none; }
    .head .contact-list:hover .contact-items li:nth-child(1) {
      display: flex;
      opacity: 0;
      z-index: 3;
      animation-name: show-contacts;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-duration: 0.3s;
      animation-delay: 0s; }
    .head .contact-list:hover .contact-items li:nth-child(2) {
      display: flex;
      opacity: 0;
      z-index: 2;
      animation-name: show-contacts;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-duration: 0.3s;
      animation-delay: 0.3s; }
    .head .contact-list:hover .contact-items li:nth-child(3) {
      display: flex;
      opacity: 0;
      z-index: 1;
      animation-name: show-contacts;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-duration: 0.3s;
      animation-delay: 0.6s; }
    .head .contact-list .contact-items li, .head .contact-list .contact-button {
      padding: 5px 30px;
      display: flex;
      justify-content: center;
      border: solid 3px #EDF060;
      color: white;
      background-color: #03071e;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index: 100; }
      .head .contact-list .contact-items li:hover, .head .contact-list .contact-button:hover {
        border-color: #17BEBB; }
    .head .contact-list .contact-items li {
      border-top-color: transparent;
      display: none; }
    .head .contact-list .contact-items li a {
      color: white;
      text-decoration: none; }
    .head .contact-list .contact-items .pNumber {
      background-color: #03071e;
      color: #fff;
      display: none; }
  .head #head-img {
    max-width: 50%;
    max-height: 80%;
    height: auto;
    position: absolute;
    bottom: -4%;
    right: 0; }

.floor {
  height: 20px;
  width: 100%;
  background-color: grey; }

#about-box {
  width: 100%;
  color: #F8F1FF;
  background-color: #03071e;
  display: flex;
  justify-content: center; }
  #about-box .about-border {
    max-width: 700px;
    margin: 10px 10px 10px 40px;
    position: relative; }
    #about-box .about-border .about-titl, #about-box .about-border about-titl::after {
      background-color: #03071e;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 33px;
      letter-spacing: 3px;
      position: absolute;
      top: 40px;
      left: 25%;
      border: solid 3px #17BEBB;
      border-width: 0px;
      padding: 3px; }
    #about-box .about-border .about-content {
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
      width: 65%;
      float: right;
      margin-top: 120px;
      margin-right: 40px;
      margin-bottom: 40px;
      letter-spacing: 2px;
      opacity: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    #about-box .about-border::after, #about-box .about-border::before {
      border: 3px solid transparent;
      content: "";
      height: 0px;
      width: 0px;
      position: absolute; }
    #about-box .about-border::before {
      top: -3px;
      left: -3px; }
    #about-box .about-border::after {
      bottom: -3px;
      right: -3px; }

#about-box.visible .about-border::before {
  border-top-color: #17BEBB;
  border-left-color: #17BEBB;
  animation: grow-border 0.7s linear forwards; }
#about-box.visible .about-border::after {
  border-bottom-color: #17BEBB;
  border-right-color: #17BEBB;
  animation: grow-border 0.7s linear forwards; }
#about-box.visible .about-titl {
  animation: move-titl-left 0.5s linear forwards; }
  #about-box.visible .about-titl::after {
    content: ":"; }
#about-box.visible .about-content {
  animation: fade-in 0.8s linear forwards; }

.project-div {
  background-color: #03071e;
  margin: 25px auto;
  width: 95%;
  display: flex;
  justify-content: center; }
  .project-div .project-body {
    max-width: 700px;
    align-self: center;
    margin: 0px;
    position: relative; }
    .project-div .project-body .project-head {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 33px;
      letter-spacing: 2px;
      display: inline;
      padding: 5px 10px;
      border: 3px solid #17BEBB;
      color: #F8F1FF;
      margin-right: auto;
      margin-left: auto; }
  .project-div .project {
    padding: 10px 25px;
    position: inherit;
    z-index: 10; }
    .project-div .project .project-title {
      color: #EDF060; }
    .project-div .project .project-desc {
      color: #F8F1FF; }
      .project-div .project .project-desc p {
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large; }
      .project-div .project .project-desc .project-desc-subhead {
        color: #EDF060;
        font-size: large; }
      .project-div .project .project-desc .view-code {
        border: solid 3px #EDF060;
        border-radius: 7px;
        padding: 3px 7px;
        float: right;
        position: relative; }
        .project-div .project .project-desc .view-code a {
          color: #F8F1FF;
          font-size: large;
          text-decoration: none; }
        .project-div .project .project-desc .view-code:hover {
          border-color: #17BEBB; }
  .project-div .project1, .project-div .project3 {
    float: left;
    position: relative;
    width: 90%; }
  .project-div .project1::before, .project-div .project2::after, .project-div .project3::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 60%;
    top: 0%; }
  .project-div .project1::before {
    left: 0%;
    width: 100%;
    border-left: solid 3px #17BEBB;
    border-bottom: solid 3px #17BEBB;
    border-radius: 0 0 0 15px;
    margin-top: 5px; }
  .project-div .project2 {
    position: relative;
    width: 90%;
    float: right; }
  .project-div .project2::after {
    right: 0%;
    border-right: solid 3px #17BEBB;
    border-bottom: solid 3px #17BEBB;
    border-top: solid 3px #17BEBB;
    border-radius: 0 15px 15px 0;
    margin: 5px; }
  .project-div .project3::before {
    left: 0%;
    width: 100%;
    border-top: solid 3px #17BEBB;
    border-left: solid 3px #17BEBB;
    border-bottom: solid 3px #17BEBB;
    border-radius: 15px 0 0 15px;
    margin-top: 8px; }
  .project-div .project3::after {
    content: "";
    height: 17px;
    width: 17px;
    position: absolute;
    right: -5px;
    bottom: -20px;
    border-radius: 50%;
    background-color: #17BEBB; }

.competancy {
  margin-top: 50px;
  width: 95%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }
  .competancy .comp-titl {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    letter-spacing: 2px;
    padding: 5px 10px;
    border: 3px solid #17BEBB;
    color: #F8F1FF; }
  .competancy .row {
    width: 100%;
    max-width: 700px; }
    .competancy .row .languages, .competancy .row .tools {
      display: inline-block;
      width: 45%;
      padding: 0px 2%;
      margin-bottom: 25px;
      margin-top: 0; }
      .competancy .row .languages h3, .competancy .row .tools h3 {
        padding: 5px;
        color: #EDF060;
        border-bottom: 3px solid #17BEBB; }
      .competancy .row .languages .tool-list, .competancy .row .languages .lang-list, .competancy .row .tools .tool-list, .competancy .row .tools .lang-list {
        list-style-type: none;
        color: white;
        font-size: medium; }

.footer {
  background: #000; }
  .footer .foot-content {
    height: 60px;
    max-width: 700px;
    margin: 0px auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center; }
    .footer .foot-content a {
      color: grey;
      text-decoration: none; }
      .footer .foot-content a:hover {
        color: #17BEBB; }
    .footer .foot-content div {
      color: grey; }

@keyframes show-contacts {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  30% {
    opacity: 1;
    transform: translateY(-90%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes grow-border {
  0% {
    width: 0%;
    height: 0%; }
  100% {
    width: 100%;
    height: 100%; } }
@keyframes move-titl-left {
  0% {
    border-width: 0px; }
  100% {
    left: -6%;
    border-width: 3px; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (max-width: 720px) {
  .head {
    margin-left: 0;
    margin-top: 0; }
    .head h1 {
      font-size: xx-large;
      padding: 0;
      padding-bottom: 5px; }
    .head #head-img {
      display: none; }
    .head .head-text {
      padding-left: 30px;
      padding-top: 50px;
      max-width: 70%; }
    .head .name {
      max-width: 100%; }
    .head .contact-list .contact-items li, .head .contact-list .contact-button {
      border-color: #17BEBB; }
      .head .contact-list .contact-items li:hover, .head .contact-list .contact-button:hover {
        border-color: #EDF060; }

  .floor {
    background-color: #17BEBB;
    height: 3px; }

  #about-box .about-border {
    margin: 38px; }
    #about-box .about-border .about-titl {
      font-size: 25px;
      letter-spacing: 1px; }
    #about-box .about-border .about-content {
      letter-spacing: 1px; } }
@media (min-width: 501px) and (max-width: 760px) {
  .about-border .about-content {
    letter-spacing: 0px; }
  .about-border .about-titl {
    top: 20px;
    left: 10px; } }
@media (max-width: 500px) {
  .head .head-text .name .letter2 {
    padding-left: 20px; }
  .head .head-text .name .letter3 {
    padding-left: 40px; }

  #about-box .about-border {
    margin-left: 30px; }
    #about-box .about-border .about-titl {
      top: 20px;
      left: 10px; }
    #about-box .about-border .about-content {
      width: 90%;
      margin: 74px 15px 35px;
      font-size: larger;
      letter-spacing: 0px; }

  .project-div .project {
    padding: 10px 15px; }

  .competancy .row .languages, .competancy .row .tools {
    width: 100%; }
    .competancy .row .languages h3, .competancy .row .tools h3 {
      border-width: 2px; }

  .footer div {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
