// styles.sass
$uni-bg: #03071e
// $uni-font-color: #DECDF5
$uni-font-color: #F8F1FF
$uni-font: Arial, Helvetica, sans-serif
// $theme:#E0CA3C
$theme:#EDF060
// $project-border: $theme
$project-border: #17BEBB
// $theme: #17BEBB
$theme: $theme

$contact-count: 2
$body-wid: 700px

body
    margin: 0
    background-color: $uni-bg
    // font-family: $uni-font
.head
    background-color: $uni-bg
    position: relative
    padding-bottom: 50px
    overflow: visible
    border: 0px solid
    border-color: black black grey black
    perspective: 1000px


    .head-text
        color: $uni-font-color
        padding-left: 60px
        max-width: 50%
        padding-top: 100px
        
        .name, h2
            padding: 5px 0px
            margin: 0

        .name
            font-size: 45px
            padding-bottom: 10px 
            word-spacing: 7px

        .first-letter
            font-size: 50px
            color: $theme
            // color: $project-border


    .contact-list
        color: $uni-font-color
        position: absolute
        top: 2%
        right: 1%
        display: flex
        justify-content: center
        align-items: center
        font-size: large
        font-family: $uni-font
        flex-flow: column
        list-style-type: none
        
        &:hover
            .contact-items li
                @for $i from 1 through $contact-count
                    &:nth-child(#{$i})
                        display: flex
                        opacity: 0
                        z-index: $contact-count - $i + 1
                        animation-name: show-contacts 
                        animation-timing-function: linear 
                        animation-fill-mode: forwards
                        animation-duration: 0.3s
                        animation-delay: (0.3s * $i) - 0.3  

        .contact-items li, .contact-button
            padding: 5px 30px 
            display: flex
            justify-content: center
            // border: solid 3px $project-border
            border: solid 3px $theme
            color: white
            background-color: $uni-bg
            // border: solid 3px #040c44
            -webkit-user-select: none     
            -moz-user-select: none
            -ms-user-select: none
            user-select: none
            z-index: 100
            &:hover
                // border-color: $theme
                border-color: $project-border

        .contact-items li
            border-top-color: transparent
            display: none


        .contact-items li a
            color: white
            text-decoration: none

    #head-img
        max-width: 50%
        max-height: 80%
        height: auto
        position: absolute
        bottom: -4%
        right: 0
        // z-index: 0

.floor
    height: 20px
    width: 100%
    background-color: grey


#about-box
    width: 100%
    color: $uni-font-color
    background-color: $uni-bg
    display: flex
    justify-content: center
    // box-shadow: 2px 5px yellow
    // align-items: center
    // overflow: hidden

    .about-border
        // background-color: $uni-bg
        max-width: $body-wid
        margin: 10px 10px 10px 40px
        position: relative

        .about-titl, about-titl::after
            background-color: $uni-bg
            // color: $theme
            font-family: $uni-font
            font-size: 33px
            letter-spacing: 3px
            position: absolute
            top: 40px
            left: 25%
            border: solid 3px $project-border
            border-width: 0px
            padding: 3px

        .about-content
            font-size: 22px
            font-family: $uni-font
            width: 65%
            float: right
            margin-top: 120px
            margin-right: 40px
            margin-bottom: 40px
            // word-spacing: 7px
            letter-spacing: 2px
            // text-align: justify
            opacity: 0
            // animation: fade-in 0.7s linear forwards 
            -webkit-user-select: none     
            -moz-user-select: none
            -ms-user-select: none
            user-select: none


            
        &::after, &::before
            border: 3px solid transparent
            content: ''
            height: 0px
            width: 0px
            position: absolute
            
        &::before
            top: -3px
            left: -3px

        &::after
            bottom: -3px
            right: -3px
#about-box.visible
    .about-border::before
        border-top-color: $project-border
        border-left-color: $project-border
        animation: grow-border 0.7s linear forwards
    .about-border::after
        border-bottom-color: $project-border
        border-right-color: $project-border
        animation: grow-border 0.7s linear forwards
    .about-titl
        animation: move-titl-left 0.5s linear forwards
        &::after
            content: ":"
    .about-content
        animation: fade-in 0.8s linear forwards 

.project-div
    background-color: $uni-bg
    margin: 25px auto
    width: 95%
    display: flex
    justify-content: center
    // transform: translateX(12px)

    .project-body
        max-width: $body-wid
        align-self: center
        margin: 0px
        position: relative
   
        .project-head
            font-family: $uni-font
            font-size: 33px
            letter-spacing: 2px
            display: inline
            padding: 5px 10px
            border: 3px solid $project-border
            color: $uni-font-color
            margin-right: auto
            margin-left: auto
 
    .project
        padding: 10px

        .project-title
            color: $theme

        .project-desc
            color: $uni-font-color
            p
                font-size: medium
                font-family: $uni-font
                font-size: large

            .project-desc-subhead
                color: $theme
                font-size: large


            .view-code
                // display: inline-block
                border: solid 3px $theme
                // border-color: $project-border
                border-radius: 7px
                padding: 3px 7px
                float: right
                position: relative

                a
                    color: $uni-font-color
                    font-size: large
                    text-decoration: none


                &:hover
                    border-color: $project-border

    .project1, .project3
        float: left
        // margin-left: 5px
        position: relative
        width: 90%


    .project1::before, .project2::after, .project3::before
        content: ''
        position: absolute
        height: 100%
        width: 60%
        top: 0%

    .project1::before
        left: 0%
        width: 100%
        border-left: solid 3px $project-border
        border-bottom: solid 3px $project-border
        border-radius: 0 0 0 15px
        margin-top: 5px

    .project2
        position: relative
        width: 90%
        float: right

    .project2::after
        right: 0%
        border-right: solid 3px $project-border
        border-bottom: solid 3px $project-border
        border-top: solid 3px $project-border
        border-radius: 0 15px 15px 0
        margin: 5px


    .project3::before
        left: 0%
        width: 100%
        border-top: solid 3px $project-border
        border-left: solid 3px $project-border
        border-bottom: solid 3px $project-border
        border-radius: 15px 0 0 15px
        margin-top: 8px


    .project3::after
        content: ''
        height: 17px
        width: 17px
        position: absolute
        right: -5px
        bottom: -20px
        border-radius: 50%
        background-color: $project-border

.competancy
    margin-top: 50px
    width: 95%
    max-width: 700px
    display: flex
    flex-direction: column
    align-items: center
    // align-self: center
    // display: inline-block
    margin-left: auto
    margin-right: auto

    .comp-titl
        font-family: $uni-font
        font-size: 33px
        letter-spacing: 2px
        padding: 5px 10px
        border: 3px solid $project-border
        color: $uni-font-color

    .row
        width: 100%
        max-width: 700px
        // display: flex
        // flex-flow: row wrap
        // justify-content: space-around

        .languages, .tools
            display: inline-block
            width: 45%
            padding: 0px 2%
            margin-bottom: 25px
            margin-top: 0
            // justify-self: center
            h3
                padding: 5px 
                color: $theme
                border-bottom: 3px solid $project-border

            .tool-list, .lang-list
                list-style-type: none
                color: white
                font-size: medium

.footer
    background: #000

    .foot-content
        height: 60px
        max-width: 700px
        margin: 0px auto
        display: flex
        flex-flow: wrap
        justify-content: space-around
        align-items: center

        a
            color: grey
            text-decoration: none

            &:hover
                color: $project-border


@keyframes show-contacts
    0%
        opacity: 0
        transform: translateY(-100%)
    30%
        opacity: 1
        transform: translateY(-90%)
    100%
        opacity: 1
        transform: translateY(0%)
        


@keyframes grow-border
    0%
        width: 0%
        height: 0%  
    100%
        width: 100%
        height: 100%  
         

@keyframes move-titl-left
    0%
        // left: 10px
        border-width: 0px
    100%
        left: -6%
        border-width: 3px   
    
@keyframes fade-in
    0%
        opacity: 0
        // transition: scale(0.1)
    100%
        opacity: 1
        // transition: scale(1)

@media (max-width: 720px)
    .head
        margin-left: 0
        margin-top: 0

        h1
            font-size: xx-large
            padding: 0
            padding-bottom: 5px 

        #head-img 
            display: none
        
        .head-text
            padding-left: 30px
            padding-top: 50px 
            max-width: 70%
        
        .name
            max-width: 100%

        .contact-list
            .contact-items li, .contact-button
                border-color: $project-border

                &:hover
                    border-color: $theme

    .floor
        background-color: $project-border
        height: 3px

    #about-box
        .about-border
            margin: 38px
            .about-titl
                font-size: 25px
                letter-spacing: 1px
        
            .about-content
                letter-spacing: 1px


@media (min-width: 501px) and (max-width: 760px)
    .about-border
        .about-content
            letter-spacing: 0px
        .about-titl
            top: 20px
            left: 10px

@media (max-width: 500px)
    .head
        .head-text
            .name
                .letter2
                    padding-left: 20px
                .letter3
                    padding-left: 40px


    #about-box
        .about-border
            margin-left: 30px
            
            .about-titl
                top: 20px
                left: 10px

            .about-content
                width: 90%
                margin: 74px 15px 35px
                // padding: 5px
                font-size: larger
                // padding-top: 69px
                letter-spacing: 0px
    .competancy
        .row
            .languages, .tools
                width: 100%
                h3
                    // display: inline
                    border-width: 2px
                    // text-decoration: underline 3px $project-border