body {
  margin: 0;
  background-color: #000; }

.head {
  background-color: black;
  position: relative;
  padding-bottom: 50px;
  overflow: visible;
  border: 0px solid;
  border-color: black black grey black;
  perspective: 1000px; }

.head-text {
  color: #fff7ed;
  padding-left: 60px;
  max-width: 50%;
  padding-top: 100px; }
  .head-text .name, .head-text h2 {
    padding: 5px 0px;
    margin: 0; }
  .head-text .name {
    font-size: 45px;
    padding-bottom: 10px;
    word-spacing: 7px; }
  .head-text .first-letter {
    font-size: 50px;
    color: #4f63fc; }

.contact-list {
  color: white;
  position: absolute;
  top: 2%;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  flex-flow: column;
  list-style-type: none; }
  .contact-list:hover .contact-items li:nth-child(1) {
    display: flex;
    opacity: 0;
    z-index: 2;
    animation-name: show-contacts;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 0s; }
  .contact-list:hover .contact-items li:nth-child(2) {
    display: flex;
    opacity: 0;
    z-index: 1;
    animation-name: show-contacts;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 0.3s; }
  .contact-list .contact-items li, .contact-list .contact-button {
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    border: solid 3px #4f63fc;
    color: white;
    background-color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100; }
    .contact-list .contact-items li:hover, .contact-list .contact-button:hover {
      border-color: white; }
  .contact-list .contact-items li {
    border-top-color: transparent;
    display: none; }
  .contact-list .contact-items li a {
    color: white;
    text-decoration: none; }

#head-img {
  max-width: 50%;
  height: auto;
  position: absolute;
  bottom: -4%;
  right: 0; }

.floor {
  height: 20px;
  width: 100%;
  background-color: grey; }

.about-box {
  width: 100%;
  color: white;
  background-color: #000;
  display: flex;
  justify-content: center; }
  .about-box .about-border {
    background-color: #000;
    max-width: 700px;
    margin: 10px 10px 10px 40px;
    position: relative; }
    .about-box .about-border .about-titl, .about-box .about-border about-titl::after {
      background-color: #000;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 33px;
      letter-spacing: 3px;
      position: absolute;
      top: 40px;
      left: 25%;
      border: solid 3px #4f63fc;
      border-width: 0px;
      padding: 3px; }
    .about-box .about-border .about-content {
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
      width: 65%;
      float: right;
      margin-top: 120px;
      margin-right: 40px;
      margin-bottom: 40px;
      letter-spacing: 2px;
      opacity: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .about-box .about-border::after, .about-box .about-border::before {
      border: 3px solid transparent;
      content: "";
      height: 0px;
      width: 0px;
      position: absolute; }
    .about-box .about-border::before {
      top: -3px;
      left: -3px; }
    .about-box .about-border::after {
      bottom: -3px;
      right: -3px; }
  .about-box:hover .about-border::before, .about-box:active .about-border::before {
    border-top-color: #4f63fc;
    border-left-color: #4f63fc;
    animation: grow-border 0.7s linear forwards; }
  .about-box:hover .about-border::after, .about-box:active .about-border::after {
    border-bottom-color: #4f63fc;
    border-right-color: #4f63fc;
    animation: grow-border 0.7s linear forwards; }
  .about-box:hover .about-titl, .about-box:active .about-titl {
    animation: move-titl-left 0.5s linear forwards; }
    .about-box:hover .about-titl::after, .about-box:active .about-titl::after {
      content: ":"; }
  .about-box:hover .about-content, .about-box:active .about-content {
    animation: fade-in 0.8s linear forwards; }

.project-div {
  background-color: #000;
  color: #4f63fc;
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column; }

.project-head {
  display: inline;
  padding: 5px 10px;
  border: 3px solid #4f63fc;
  color: white;
  margin-right: auto;
  margin-left: auto; }

.project-body {
  max-width: 700px;
  align-self: center;
  margin: 0px;
  position: relative; }

.project-body::after {
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  bottom: -20px;
  right: 0%;
  border-radius: 50%;
  background-color: #4f63fc; }

.project {
  width: 85%;
  padding: 10px 20px; }

.project-title {
  color: #4f63fc; }

.project-desc {
  color: white; }

.project1, .project3 {
  float: left;
  position: relative; }

.project1::before, .project2::after, .project3::before, .project3::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0%; }

.project1::before {
  left: 0%;
  border-left: solid 3px #4f63fc;
  border-bottom: solid 3px #4f63fc;
  border-radius: 0 0 0 15px;
  margin: 5px; }

.project2 {
  position: relative;
  float: right; }

.project2::after {
  right: 0%;
  border-right: solid 3px #4f63fc;
  border-bottom: solid 3px #4f63fc;
  border-top: solid 3px #4f63fc;
  border-radius: 0 15px 15px 0;
  margin: 5px; }

.project3::before {
  left: 0%;
  border-top: solid 3px #4f63fc;
  border-left: solid 3px #4f63fc;
  border-bottom: solid 3px #4f63fc;
  border-radius: 15px 0 0 15px;
  margin-top: 8px; }

.project3::after {
  border-bottom: solid 3px #4f63fc;
  right: 0%;
  width: 60%;
  margin: 11px; }

@keyframes show-contacts {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  30% {
    opacity: 1;
    transform: translateY(-90%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes grow-border {
  0% {
    width: 0%;
    height: 0%; }
  100% {
    width: 100%;
    height: 100%; } }
@keyframes move-titl-left {
  0% {
    border-width: 0px; }
  100% {
    left: -6%;
    border-width: 3px; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (max-width: 720px) {
  .head {
    margin-left: 0;
    margin-top: 0; }
    .head h1 {
      font-size: xx-large;
      padding: 0;
      padding-bottom: 5px; }
    .head #head-img {
      display: none; }
    .head .head-text {
      padding-left: 30px;
      padding-top: 50px;
      max-width: 70%; }
    .head .name {
      max-width: 100%; }

  .floor {
    height: 3px; }

  .about-box .about-border {
    margin: 38px; }
    .about-box .about-border .about-titl {
      font-size: 25px;
      letter-spacing: 1px; }
    .about-box .about-border .about-content {
      letter-spacing: 1px; } }
@media (min-width: 501px) and (max-width: 760px) {
  .about-border .about-content {
    letter-spacing: 0px; }
  .about-border .about-titl {
    top: 20px;
    left: 10px; } }
@media (max-width: 500px) {
  .about-box .about-border {
    margin-left: 30px; }
    .about-box .about-border .about-titl {
      top: 20px;
      left: 10px; }
    .about-box .about-border .about-content {
      width: 90%;
      margin: 74px 15px 35px;
      font-size: larger;
      letter-spacing: 0px; } }

/*# sourceMappingURL=styles.css.map */
